* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f0f2f5;
}
.container {
  max-width: 500px;
  margin: 5rem auto;
  border-radius: 20px;
  background-color: #fff;
  z-index: -2;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
}
header div {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.pesquisar {
  background-color: #f0f2f5;
  padding: 0 0.5rem;
  border-radius: 15px;
}
.search {
  display: flex;
  align-items: center;
}
.search input {
  border: 0;
  background-color: #f0f2f5;
  font-size: 1rem;
  outline: none;
}
.home img {
  margin-right: 2rem;
  cursor: pointer;
  padding: 0 1rem;
}
.conta img {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0.5rem;
  background-color: #f0f2f5;
  border-radius: 50%;
}
.story {
  max-width: 600px;
  margin: 100px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.story img {
  width: 23%;
  height: 180px;
  display: inline-block;
  border-radius: 10px;
  margin: 0 0.2rem;
  cursor: pointer;
}
.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 1rem;
  cursor: pointer;
}
.intro {
  display: flex;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
  position: relative;
}
.intro h2 {
  color: #395996;
  cursor: pointer;
  font-size: 1.2rem;
}
.patrocinado {
  display: flex;
  align-items: center;
}
.patrocinado img {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}
.patrocinado p {
  color: #606770;
}
.pontos {
  position: absolute;
  right: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
}

.conteudo {
  margin: 1.5rem;
}
.banner {
  width: 100%;
  display: block;
}
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #606770;
  padding: 0.8rem 1.5rem;
}
.likes {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.likes img {
  width: 1.5rem;
  height: 1.5rem;
}
.likes .curtir {
  z-index: 2;
}
.likes .coracao {
  position: relative;
  left: -5px;
  z-index: 0;
}
.shares {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shares span {
  margin-left: 1rem;
  cursor: pointer;
  margin: 1px solid;
}

.acoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.8rem 0;
  width: 92%;
  margin: 0 auto;
  border-top: 1px solid;
  color: #606770;
}
.acoes div {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.acoes div img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
}
.acoes div label {
  cursor: pointer;
}
.comentar {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: 0;
  background-color: #fff;
  font-size: 1rem;
  color: #606770;
  cursor: pointer;
}
.novoComment {
  padding: 0.8rem 0;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  border-top: 1px solid;
}

.perfil {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50px;
  margin-right: 0.8rem;
}
.novoComment input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 0;
  outline: none;
  background-color: #f0f2f5;
  font-size: 1rem;
}
.atualComment {
  display: flex;
  padding: 1.5rem;
}
.atualComment img {
  border-radius: 50%;
  margin-right: 0.8rem;
  width: unset;
  width: 70px;
  height: 70px;
}

.atualComment div div {
  background-color: #f0f2f5;
  padding: 0.5rem;
  border-radius: 10px;
}
.atualComment div a {
  font-weight: 400;
  text-decoration: none;
  color: #000;
  margin-bottom: 0.5rem;
  display: block;
}

.atualComment div span {
  cursor: pointer;
  margin: 5px 5px 5px 0;
  display: inline-block;
}
.atualComment div span:hover {
  border-bottom: 1px solid;
}

.newPost {
  padding: 1rem;
  background-color: #fff;
  max-width: 500px;
  margin: 1rem auto 0 auto;
  border-radius: 10px;
}
.newPost div {
  display: flex;
  align-items: center;
}
.newPost div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1rem;
}
.newPost div input {
  width: 100%;
  background-color: #f0f2f5;
  padding: 0.8rem;
  border: 0;
  border-radius: 10px;
  outline: 0;
}
.atividades {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.atividades div img {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 0.5rem;
}
